.Title {
  background-image: url("https://favim.com/pd/s11/orig/7/717/7176/71760/gif-glitter-silver-Favim.com-7176036.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
}

.LoggedIn {
  font-size: 45px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
}
