body {
    text-align: center;
    background-image:url("https://images.pexels.com/photos/139259/pexels-photo-139259.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: bottom;
    background-size: cover;

     /* This is what makes the background image rescale based on the container’s size */
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
}

h2 {
    margin-top: 130px;
}

form {
    display: inline-block;
 
} 

#field{
    display:block;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #555;
    background: transparent;
    outline: none;
    font-size: 26px;
    padding: 5px 2px;
    position: relative;
    z-index: 10;
}

#form-button{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    transition: background 0.5s;
}

#form-button:hover{
    font-weight: 500;
    background: rgb(220, 240, 225);
}

#save-button:hover{
    font-weight: 500;
    background: rgb(220, 240, 225);
}

.login-header{
    margin-top: 130px;
}